/target
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
.hgignore
.hg/
.figwheel_*.log
.cljs_rhino_repl
doo-index.html
node_modules/
out/
package-lock.json
resources/release/background/main.js
resources/release/ui/*js
resources/dev/ui/*js