language: clojure
jdk:
  - oraclejdk8
env:
  - NODE_VERSION=8 CC=clang CXX=clang++
before_install:
  - nvm install $NODE_VERSION
  - npm install jsonlint -g
  - cd cljs-src

script:
  - lein with-profile +test doo phantom once
  - jsonlint ../gooreplacer.gson
