    body {
        background: -moz-linear-gradient(center top , #afcffe, #fff) no-repeat scroll 0 0 rgba(0, 0, 0, 0);
        font-family: Tahoma,Arial,sans-serif;
        font-size: 10pt;
        margin: 0;
        min-height: 100%;
        padding: 0;
    }
    h1 {
        color: #555;
        font-size: 34pt;
        letter-spacing: 2px;
        margin: 20px 0 0;
        padding: 0;
        text-align: center;
        text-shadow: 0 0 15px white;
    }
    h5 {
        margin: 0;
        padding-left: 180px;
        text-align: center;
    }
    button {
        background: -moz-linear-gradient(center top , #ccc, #fff) repeat scroll 0 0 rgba(0, 0, 0, 0);
        border: 1px solid grey;
        border-radius: 4px;
        cursor: pointer;
    }
    .disable {
        color: #AAA;
    }
    .line {
        border-style:dotted;
        border-color:red;
        border-width:5;
        width:100%;
        height:0
    }
    .actions {
        margin: 10px auto;
        text-align: center;
        width: 600px;
    }
    .dialog {
        background:-moz-linear-gradient(top,#fff, #AFCFFE);
        border-radius:8px;
        display:none; 
        width: 500px;
        height: 220px;
        position:fixed;
        margin:0 auto; 
        padding:10px;
        font-size: 11pt;
        box-shadow: 0px 0px 4px black;
    }
    .dialog li {
        margin:auto auto 5px auto;
    }
    .button-row { 
        text-align:center; 
        display:block !important;
    }
    .centered {
        margin:20px auto 10px auto;
        text-align: center;
    }
